{% extends "cloud/base.html" %}
{% block content %}

    <div class="content-section">
        <div class="media-body">


          <div class="article-metadata">
              <a class="mr-2" href="{{ tbl_file.get_absolute_url }}">{{ tbl_file.title }}</a>
              <small class="text-muted">{{ file.date|date:"F d, Y" }}</small>
          </div>
          

          <h2 class="account-heading">{{ tbl_file.title }}</h2>
          <p class="text-secondary">Owner: {{ tbl_file.owner_id }}</p>
          <p class="text-secondary">Size: {{ tbl_file.size }}</p>
          <p class="text-secondary">Date: {{ tbl_file.date|date:"F d, Y"}}</p>
          <p class="text-secondary">File Id: {{ tbl_file.file_id }}</p>
          <p class="text-secondary">isFav: {{ tbl_file.isFav }}</p>
        </div>

    </div>

{% endblock content %}

{% block content2 %}
    {% if object.owner_id == user.tbl_user %}
        <p class='text-muted'>You can update/delete a folder or file here.
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'file-update' object.file_id %}">Update File</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'file-delete' object.file_id%}">Delete File</a>
        

    {% endif %}
{% endblock content2 %}