{% extends "cloud/base.html" %}
{% block content %}

    {% if user.is_authenticated %}
        {% for group in groups %}
                {% for group_user in group.tbl_groups_user_set.all %}
                    {% if group_user.user_id.user.username == user.username%}
                        <article class="media content-section">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <a class="mr-2" href="{{ group.get_absolute_url }}">{{ group.group_name }}</a>
                                </div>
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock content %}